/* contenedor general aislado*/
.prisci-municipal-content-only {
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
}

/*agregando estilos a cabecera y fecha*/
.prisci-municipal-content-only .dashboard-header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}